.footer {
  background: $darkBg;
}

.footer-content {
  width:  100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 5rem;
  align-items: center;

  @include desktop {
    padding: 1rem 2rem;
  }

  @include mobile {
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1.5rem;
  }

  @include tablet {
    .menu {
      display: none;
    }
  }


}