.header {
  background: #2D2E45;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.32);
}

.header-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 5px 15px;
  max-width: 1400px;
}

.logo {
  display: block;
  width: 200px;
}

.lang {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 1.6rem;

  span {
    margin-left: 10px;

  }
}