// Flexbox grid variables
$container-width: 1130px;
$container-width-smaller: 100%;
$home-padding: 15px;

$mq-sm: 480px;
$mq-md: 768px;
$mq-lg: 1024px;
$minWidth1200: 1200px;

// Fonts
$title-font: 'ff-good-headline-web-pro-con', sans-serif;
$text-font: 'Comfortaa', cursive;

// Color
$white: #fff;
$colorSite: #0f8660;
$text: #333;
$darkBg: #23333c;
$lightText: #686969;
$lightGray: #ebebeb;
$lightBg: #f3f3f3;

//animation

$transition: .45s;
$rotate-minus-top: translateY(-50%);
