.schedule-section {
}

.schedule-box {
  font-size: 35px;
}

.schedule {
  display: flex;
  margin: 40px 0 20px 0;

  &__item {
    margin-left: 80px;

    &:first-child {
      margin-left: 0;
    }

  }

  &__title {
    font-size: 35px;
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
  }

  &__time {
    font-size: 35px;
    font-weight: 600;
    color: $color-site;

  }
}